

:root {
  --background-indigo: #D4DAFF;
  --main-indigo:#758bfd;
  --light-indigo:#aeb8fe;
  --textIndigo:#27187e;
  --secondaryOrange:#ff8600;
  --white:#f1f2f6;
  --red:#ff3b5c;
  --alert-red:#CE2029;
}
